/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fundo animado */
body {
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fundo 12s infinite;
}

/* Animação seguindo a ordem */
@keyframes fundo {
  0% {
    background: linear-gradient(bege, #f5f5dc);
  }
  25% {
    background: linear-gradient(#f5f5dc, #ffb6c1);
  }
  50% {
    background: linear-gradient(#ffb6c1, #a18cd1);
  }
  75% {
    background: linear-gradient(#a18cd1, #4facfe);
  }
  100% {
    background: linear-gradient(#4facfe, #f5f5dc);
  }
}

/* Caixa */
.container {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Texto */
h1 {
  margin-bottom: 15px;
  color: #333;
}

p {
  margin-bottom: 25px;
  color: #666;
}

/* Botão */
.botao {
  text-decoration: none;
  background: #c471ed;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: bold;
}

.botao:hover {
  background: #9b4dca;
  transform: scale(1.05);
}

.botao:hover {
  background: #7a5cff;
  transform: scale(1.05);
}
