.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    height: 70px;          /* aumentei a altura */
    padding: 0 50px;       /* mais largo */

    background: #fff;
    color: #e17055;
    text-decoration: none;

    border-radius: 999px;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1.6rem;     /* texto maior */
    font-weight: 700;

    border: none;
    box-shadow: none;

    transition: all 0.2s ease;
}

/* Hover */
.nav-btn:hover {
    transform: scale(1.05);
    background: #fff5f5;
}

/* Clique */
.nav-btn:active {
    transform: scale(0.95);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fundo animado */
body {
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(-45deg, #f5f5dc, #ffb6c1, #a18cd1, #4facfe);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}

/* Animação */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Caixa */
.container {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Texto */
h1 {
  margin-bottom: 15px;
  color: #333;
}

p {
  margin-bottom: 25px;
  color: #666;
}

/* Botão */
.botao {
  text-decoration: none;
  background: #c471ed;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: bold;
}

.botao:hover {
  background: #9b4dca;
  transform: scale(1.05);
}

.botao:hover {
  background: #7a5cff;
  transform: scale(1.05);
}
